<div class="wrapHeader js-navigation">
	<header class="header js-fixed-header ">
		<h1>KUKURI<span>C</span></h1>
		<div class="hamburger js-navigation-btn">
			<div class="hamburger__icon"></div>
		</div>
	</header>
	<nav class="navigation js-navigation-navigationWrapper">
		<ul>
			<li class="navigation__item"><a href="">Tit 1</a></li>
			<li class="navigation__item"><a href="">Tit 2</a></li>
			<li class="navigation__item"><a href="">Tit 3</a></li>
			<li class="navigation__item"><a href="">Tit 4</a></li>
		</ul>
	</nav>
</div>