<header class="header">
	<h1 class="header__logoContainer">
		<span class="header__tLogo">
			<img src="assets/images/tods_logo_b.png" alt="">
		</span>
		<span class="header__label">present</span>
		<span class="header__sLogo">
			<img src="assets/images/stardust_logo_b.png" alt="">
		</span>
	</h1>
</header>
<nav class="navBar">
	<ul>
		<li class="navBar__item"><a href="/" class="navBar__link">the exhibition</a></li>
		<li class="navBar__item"><a href="/artist" class="active navBar__link">the artist</a></li>
	</ul>
</nav>