{% block content %}
	<div class="main">
		<div class="gallery">
			<img src="assets/images/gallery/gallery.jpg" alt="">
		</div>
		<div class="event">
			<div class="eventInfo">
				<p class="eventInfo__text big">1ST MARCH - 2ND JUNE 2015 <br>
				TUESDAY - SUNDAY 9.30 - 19.30 — THURSDAY UNTIL 22.30 <br>
				CLOSED ON MONDAY
				</p>
				<p class="eventInfo__text ">LAST ADMISSION ONE HOUR BEFORE CLOSING TIME</p>
			</div>
			<div class="eventInfo">
				<p class="eventInfo__text big">PAC PADIGLIONE D’ARTE CONTEMPORANEA
				</p>
				<p class="eventInfo__text ">VIA PALESTRO, 14 - MILAN - INFO 02 88446359 <br>
				www.pacmilano.it</p>
			</div>
			<a href="" class="event__btn"><span>buy ticket online</span></a>
		</div>
		<div class="mediaGallery js-media-gallery">
			<div class="videoContainer js-videoContainer">
				<div class="js-player" id="player"></div>
				<a href="#" class="video__close js-close">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0.9 2.9 50 47.9" enable-background="new 0.9 2.9 50 47.9"><path d="M50.9 6.4l-3.6-3.5-21.4 20.6-21.4-20.6-3.6 3.5 21.4 20.5-21.4 20.5 3.6 3.5 21.4-20.6 21.4 20.6 3.6-3.5-21.4-20.5z"/></svg>
				</a>
			</div>
			<div class="mediaGallery__casouel">
				<ul class="js-carousel">
					<li class="mediaGallery__item image" data-type="image">
						<img src="assets/images/media/01.jpg" alt="">
					</li>
					<li class="mediaGallery__item video" data-type="video" data-videoId="4hMZs3XCaR0">
						<img src="assets/images/media/01.jpg" alt="">
						<div class="mediaGallery__videoController">
							<div class="mediaGallery__videoControllerAux">
								<h2 class="mediaGallery__title">the making of stardust</h2>
								<a href="#" class="video__play js-video-play"><span>watch the video</span></a>
							</div>
						</div>
					</li>
					<li class="mediaGallery__item image" data-type="image">
						<img src="assets/images/media/01.jpg" alt="">
					</li>
				</ul>
				<div class="mediaGallery__nav js-nav">
					<a href="#" class="mediaGallery__previuos js-prev">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="11.8 0.7 24.4 48.6" enable-background="new 11.8 0.7 24.4 48.6" xml:space="preserve">
						<polygon points="36.2,0.7 36.2,6.3 17.5,25 36.2,43.7 36.2,49.3 11.8,25 "/>
						</svg>
					</a>
					<a href="#" class="mediaGallery__next js-next">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="13.8 0.7 24.4 48.6" enable-background="new 13.8 0.7 24.4 48.6" xml:space="preserve">
						<polygon points="13.8,0.7 13.8,6.3 32.5,25 13.8,43.7 13.8,49.3 38.2,25 "/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}