$base-fontSize: 16px

// font
$font-sans-regular : "ARSMaquetteProLight"
$font-sans-bold : "ARSMaquetteProBold"

$font-serif-regular : "playfair_displayitalic"
$font-serif-bold : "playfair_displaybold"

// btn

$btnColor: #ede7e1
$btnColor__hover: #d2cbc3

// color

$darkDefault: #0d0c0c
$colorDefault: #eb0028
$lightDefault: #fff
